body{
    background-color:blanchedalmond;
}
.container{
    border:2px solid gray;
    padding:20px;
    margin:100px auto;
    width:400px;
    background-color:orange;
    text-align: center;
}
select{
    height:40px;
    width:170px;
    border-radius:50px;
    font-family: cursive;
    background-color: aqua;
    border:3px solid green;
}
input{
    margin:10px;
    width:150px;
    border-radius:20px;
    background:aquamarine;
    height:35px;
    border:3px solid green;
    font-family:cursive;
    padding:0 10px;
}
.btn{
    display: flex;
    justify-content: center;
}
#btn{
    background: green;
    font-size: 15px;
    border-radius: 20px;
    height:40px;
}
#btn:hover{
    font-size:20px;
    opacity: 0.7;
}